<nav>
    <ul>
        <li>
            <a href="{% url 'accueil' %}">Accueil</a>
        </li>
        <li>Formulaires
            <ul>
                {% if user.role == "patient" %}
                <li><a href="{% url 'data_sante' %}">Santé générale</a></li>
                <li><a href="{% url 'data_stress' %}">Stress</a></li>
                {% else %}
                <li><a href="{% url 'sante_datatable' %}">Santé générale</a></li>
                <li><a href="{% url 'stress_datatable' %}">Stress</a></li>
                {% endif %}
            </ul>
        </li>
        {% if user.role == "patient" %}
        <li><a href="{% url 'histo_patient' %}">Historique</a></li>
        {% endif %}
        {% if user.role != "patient" %}
        <li><a href="{% url 'edaia' %}">EDA et IA</a></li>
        {% endif %}
        {% if user.role != "patient" %}
        <li><a href="{% url 'association' %}">Association médecin/patient</a></li>
        {% endif %}
        <li><a href="{% url 'comptes' %}">Mon compte</a></li>
        <li> <a href="{% url 'deco' %}">Déconnexion</a></li>
    </ul>
</nav>

