<nav>
    <ul>
        <li>
            <a href="{% url 'accueil' %}">Accueil</a>
        </li>
        <li>Formulaires
            <ul>
                {% if user.role == "patient" %}
                    {% if not block %}
                    <li><a href="{% url 'data_sante' %}">Santé générale</a></li>
                    <li><a href="{% url 'data_stress' %}">Stress</a></li>
                    {% else %}
                    <li>Santé générale - <span class="temp">temporairement indisponible</span></li>
                    <li>Stress - <span class="temp">temporairement indisponible</span></li>
                    {% endif %}
                {% else %}
                <li><a href="{% url 'sante_datatable' %}">Santé générale</a></li>
                <li><a href="{% url 'stress_datatable' %}">Stress</a></li>
                {% endif %}
            </ul>
        </li>
        {% if user.role == "patient" %}
        <li><a href="{% url 'histo_patient' %}">Historique</a></li>
        {% endif %}
        <li><a href="{% url 'qanda' %}">Q&A (IA)</a></li>
        {% if user.role != "patient" %}
        <li><a href="{% url 'edaia' %}">EDA et IA</a></li>
        {% endif %}
        {% if user.role != "patient" %}
        <li><a href="{% url 'association' %}">Association médecin/patient</a></li>
        {% endif %}
        {% if user.role != "patient" %}
        <li><a href="{% url 'nouveau_compte' %}">Créer nouveau compte</a></li>
        {% endif %}
        <li><a href="{% url 'comptes' %}">Mon compte</a></li>
        <li> <a href="{% url 'deco' %}">Déconnexion</a></li>
    </ul>
</nav>

<style>
        .temp {
            color: red;
            font-weight: bold;
        }
    </style>
