{% extends 'base.html' %}

{% block content %}
<title>Nouveau compte</title>

</head>
<body>

<h2>Créer un Nouveau Compte</h2>

<form method="post" action="{% url 'nouveau_compte' %}" autocomplete="off" id="registration-form">
    {% csrf_token %}
    <label for="first_name">Prénom:</label>
    <input type="text" id="first_name" name="first_name" required><br>
    <br>
    <label for="last_name">Nom:</label>
    <input type="text" id="last_name" name="last_name" required><br>
    <br>
    <label for="email">Adresse email:</label>
    <input type="text" id="email" name="email" required><br>
    <br>
    <label for="role">Rôle:</label>
    <select id="role" name="role" required>
        {% for role in roles %}
        <option value="{{ role }}">{{ role }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    {% if user.role == 'responsable' %}
    <label for="id_is_superuser">Super utilisateur:</label>
    <input type="checkbox" id="id_is_superuser" name="is_superuser" value="1">
    <input type="hidden" name="is_superuser" value="0">
    <br>
    <br>
    {% endif %}
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required><br>
    <br>
    <label for="motDePasse">Mot de passe:</label>
    <input type="password" id="motDePasse" name="motDePasse"  value="" required><br>
    <br>
    <button type="submit">Créer le Compte</button>
</form>

<!-- Bloc des messages flash -->
{% if success_messages %}
{% for message in success_messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Ajoutez ceci à la fin de votre formulaire -->
<div id="error-message" class="alert alert-danger" role="alert" style="display: none;"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var roleDropdown = document.getElementById('role');
    var usernameInput = document.getElementById('username');
    var errorMessage = document.getElementById('error-message');
    var form = document.getElementById('registration-form');

    roleDropdown.addEventListener('change', function() {
        var selectedRole = roleDropdown.value;

        // Effectuer une requête AJAX pour récupérer le dernier identifiant enregistré
        fetch(`/get_last_username/${selectedRole}/`)
            .then(response => response.json())
            .then(data => {
                var lastUsername = data.last_username || '';
                usernameInput.value = generateUsername(selectedRole, lastUsername);
            })
            .catch(error => {
                console.error('Erreur lors de la récupération du dernier identifiant:', error);
            });
    });

    form.addEventListener('submit', function(event) {
        // Vérifier si l'identifiant est déjà pris
        var formData = new FormData(form);
        fetch('/check_username_availability/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.username_taken) {
                // Afficher un message en cas d'identifiant déjà pris
                errorMessage.style.display = 'block';
                errorMessage.textContent = 'Cet identifiant d\'utilisateur est déjà pris. Veuillez en choisir un autre.';
                // Empêcher la soumission du formulaire
                event.preventDefault();
            } else {
                // Le formulaire sera soumis normalement si l'identifiant est disponible
                errorMessage.style.display = 'none';
            }
        })
        .catch(error => {
            console.error('Erreur lors de la vérification de l\'identifiant:', error);
        });
    });

    function generateUsername(role, lastUsername) {
        var rolePrefix = role.charAt(0).toUpperCase();

        if (lastUsername) {
            var lastNumber = parseInt(lastUsername.slice(-5), 10);
            lastNumber++;
            return rolePrefix + padNumber(lastNumber, 5);
        } else {
            return rolePrefix + '00001';
        }
    }

    function padNumber(number, length) {
        return (Array(length).join('0') + number).slice(-length);
    }
});

</script>

{% endblock %}
